# Project exclude paths
kernel/*.o
kernel/*.bin
kernel/*.elf


.idea/*
/cmake-build-debug/

*.o
*.bin
*.elf

CMakeFiles/
*.cmake
*.exe
CMakeCache.txt
/rv32/kernel/cmake-build-debug/
